<footer>
    <div id="footer-logos">
        <img src="{{ "/img/town-of-cary-logo.png" | prepend: site.baseurl }}" alt="Town of Cary logo">
        <img src="{{ "/img/wake-med-logo.png" | prepend: site.baseurl }}" alt="Wake Med logo">
        <img src="{{ "/img/harris-teeter.png" | prepend: site.baseurl }}" alt="Harris Teeter logo">
        <img src="{{ "/img/fleet-feet.png" | prepend: site.baseurl }}" alt="Fleet Feet logo">
        <img src="{{ "/img/pivot.png" | prepend: site.baseurl }}" alt="Pivot logo">
    </div>

    <p>Icons made by Freepik from <a href="http://www.flaticon.com/">www.flaticon.com</a> is licensed by CC 3.0 BY</p>
</footer>
