<header class="container">
    <nav>
        <div id="links-left-wrapper">
            <ul id="links-left">
                <li><a href="#">Home</a></li>
                <li><a href="#">Schedule</a></li>
                <li><a href="#">Course & Venue</a></li>
            </ul>
        </div>

        <div id="links-right-wrapper">
            <ul id="links-right">
                <li><a href="#">Awards</a></li>
                <li><a href="#">Results</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>

        <div id="logo-center">
            <a href="#"><img src="{{ "/img/race-logo.png" | prepend: site.baseurl }}" alt="Logo"></a>
        </div>
    </nav>
</header>
