<header>
    This is the header.

    <!--
    <nav>
        <ul>
            <li><a href="{{ "/" | prepend: site.baseurl }}">Home</a></li>
            <li><a href="{{ "/schedule/" | prepend: site.baseurl }}">Schedule</a></li>
            <li><a href="{{ "/course-and-venue/" | prepend: site.baseurl }}">Course & Venue</a></li>

            <li id="nav-logo">
                <a href="{{ site.baseurl }}">
                    <img src="{{ "/img/logo-white.png" | prepend: site.baseurl }}" alt="Race logo">
                </a>
            </li>

            <li><a href="{{ "/awards/" | prepend: site.baseurl }}">Awards</a></li>
            <li><a href="{{ "/results/" | prepend: site.baseurl }}">Results</a></li>
            <li><a href="{{ "/contact/" | prepend: site.baseurl }}">Contact</a></li>
        </ul>
    </nav>
    -->
</header>
