html {
    height: 100%;
    box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

header {
    margin: 30px 0;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;

    #page-content {
        margin-top: 30px;
    }
}

div.container {
   margin: 0 auto;
   padding-bottom: 150px;
 }

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #efefef;
    text-align: center;

    background-color: #2c2c2c;
    text-align: center;
    padding: 10px;

    #footer-logos {
        img {
            display: inline-block;
            height: 75px;
            width: auto;
        }
    }

    p, a, a:link, a:hover, a:visited {
        color: #999;
    }
}
