header {
    margin: 30px 0;
}

body {
    min-width: 700px;

    #page-content {
        margin-top: 30px;
    }
}

footer {
    background-color: #2c2c2c;
    text-align: center;
    margin-top: 50px;
    padding: 25px;

    #footer-logos {
        padding: 20px;

        img {
            display: inline-block;
            height: 75px;
            width: auto;
        }
    }

    p, a, a:link, a:hover, a:visited {
        color: #999;
    }
}
