---
---

@font-face {
    font-family: "Antonio";
    src: url("/fonts/antonio-regular-webfont.woff2") format("woff2"),
         url("/fonts/antonio-regular-webfont.woff") format("woff"),
         url("/fonts/Antonio-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Antonio-Bold";
    src: url("/fonts/antonio-bold-webfont.woff2") format("woff2"),
         url("/fonts/antonio-bold-webfont.woff")  format("woff"),
         url("/fonts/Antonio-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}
