#race-page, #registration-page {
    width: 48%;
    background-color: #eee;
    padding: 20px;
    height: 100%;
}

#race-page h2, #registration-page h2 {
    text-align: center;
}

#race-page {
    float: left;
}

#registration-page {
    float: right;
}
