body {
  border-top: 4px solid #cc0000; }

img {
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Antonio"; }

#page-header {
  text-align: center;
  color: white;
  background-color: #cc0000;
  padding: 10px; }

html {
  height: 100%;
  box-sizing: border-box; }

*:before,
*:after {
  box-sizing: inherit; }

header {
  margin: 30px 0; }

body {
  position: relative;
  margin: 0;
  min-height: 100%; }
  body #page-content {
    margin-top: 30px; }

div.container {
  margin: 0 auto;
  padding-bottom: 150px; }

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #efefef;
  text-align: center;
  background-color: #2c2c2c;
  text-align: center;
  padding: 10px; }
  footer #footer-logos img {
    display: inline-block;
    height: 75px;
    width: auto; }
  footer p, footer a, footer a:link, footer a:hover, footer a:visited {
    color: #999; }

nav {
  position: relative;
  height: 150px; }
  nav div#links-left-wrapper {
    float: left;
    padding: 0 150px 0 0; }
  nav div#links-right-wrapper {
    float: right;
    padding: 0 0 0 150px; }
  nav div {
    width: 50%; }
    nav div ul {
      list-style-type: none;
      padding: 0;
      border-bottom: 2px solid black;
      height: 22.5px;
      margin-top: 60px; }
      nav div ul li {
        display: inline-block;
        float: left;
        width: 33.33333333%;
        text-align: center;
        font-size: 1.3em;
        font-family: "Antonio"; }
        nav div ul li a:link, nav div ul li a:hover, nav div ul li a:visited, nav div ul li a:focus {
          color: black;
          text-decoration: none; }

#logo-center {
  width: 300px;
  height: 150px;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0 0 0 -150px;
  text-align: center; }
  #logo-center img {
    margin-top: 30px;
    width: 300px;
    height: auto; }
